.formsGridContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.FormsGrid {
    border: 3px solid red;
    width: 400px;
    height: 400px;
    background-color: white;
}

.InputForms{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}